.adminMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminSubmit{
    background-color: red;
    width: 15vw;
    height: 5vh;
    margin-top: 5vh;
    border: none;
    border-radius: 0.5rem;
    color: white;
}

.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}