.footer{
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(32, 32, 32); */
background-color:black;
    color: white;
    /* background-color: rgb(230, 68, 68); */
}

.footer>div>h2{
    font-size: 1rem;
}

.footer>div>h4{
    font-size: 0.8rem;
}



