
.mainNav{
    width: 100%;
}
.navBar{
    display: flex;
    justify-content: center;
    gap: 5vw;
    /* margin-top: 10vh; */
    background-color: rgb(218, 31, 38);
    color: white;
    height: 15vh;
    align-items: center;
}

.navBar>a:hover{
    cursor: pointer;
}

.navBar>a>img{
    height:15vh;
    margin-right: 13vw;
}

.nn{
        font-size: 0.8rem;
        /* font-family: 'League Gothic', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Trispace', sans-serif; */
}

/* new  */

.navv {
background-color: rgb(218, 31, 38);
    color: white;
    height: 15vh;
    width: 90%;
}


.mainNavbb {
    background-color: rgb(218, 31, 38);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.navIn {
    display: flex;
    gap: 5vh;
}

.navItems {
    color: white;
}



.navItems:hover {
    color: gainsboro;
}

.logoo>img {
    height: 15vh;
    
}


.navitemm{
    display: flex;
    gap: 30vw;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 980px) {
   
    .mainNavbb {
       
        background-color: rgb(218, 31, 38);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        

    .navv {
        width: 90%;
    }

    .navItems {
        color: black;
        font-weight: 900;
        background-color: white;
        width: 20vw;
    }

}