

.navBar{
    display: flex;
    justify-content: center;
    gap: 4vw;
    /* margin-top: 10vh; */
    background-color: rgb(22, 21, 21);
    color: white;
    height: 70px;
    align-items: center;
}

.navBar>a:hover{
    cursor: pointer;
}

.navBar>a>img{
    margin-right: 25vw;
}

.nn{
        font-size: 0.7rem;
        font-family: 'League Gothic', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Trispace', sans-serif;
}